.navbar-collapse {
  overflow:hidden;
}
header {
  .address {
    a {
      display: block;
      clear: both;
      .margin--sm--left {
        margin-left: 0 !important;
      }
    }
  }
  @include breakpoint(lg) {
    .address {
      a {
        display: inline;
        clear: none;
        .margin--sm--left {
          margin-left: 15px !important;
        }
      }
    }
  }
}
